@import "../../scss/settings.scss";

.item {
  a {
    display: block;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.2);
    padding: 20px;
    border-radius: 4px;
    transition: 0.3s ease-in-out;
    position: relative;
    &:hover {
      transform: scale(1.04);
      z-index: 99;
    }
  }
  figure {
    height: 200px;
    display: flex;
    align-items: center;
    justify-content: center;
    img {
      max-width: 150px;
      max-height: 200px;
    }
  }
  figcaption {
    text-align: center;
    p {
      @include text;
      min-height: 96px;
      color: $color-black;
    }
    h2 {
      @include subTitle;
      color: $color-primary;
    }
  }
}
