@import "../scss/settings.scss";

.banner {
  position: relative;
  figure {
    img {
      width: 100%;
    }
  }
  figcaption {
    position: absolute;
    top: 50%;
    left: 0%;
    width: 100%;
    text-align: center;
    transform: translateY(-50%);
    h2 {
      color: $color-white;
      @include title;
    }
  }
}
